<?xml version='1.0' encoding='utf-8'?>

<widget id="com.gespro.varbs_fair_english" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

<name>Verbs Fair</name>

<description>

	Practice Audios and verbs

</description>

<author email="luis.chacon.campos@mep.go.cr" href="http://mep.go.cr">

	GESPRO MEP

</author>
    <content src="index.html" />


<preference name="DisallowOverscroll" value="false" />

<preference name="android-minSdkVersion" value="14" />

<preference value="landscape" name="orientation"/>

<preference name="fullscreen" value="false" />



<plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
<plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
<!-- <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
<plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" /> -->

<plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />

<!-- <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" /> -->

<plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />


<!-- <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" /> -->

<plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />


<platform name="android">
	<icon src="icon.png"/>
</platform>

<access origin="*" />

    
<platform name="android">
	<allow-intent href="market:*" />
</platform>




</widget>
